<carousel>
    <slide>
        <img src="assets/images/1.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/5.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/3.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Hân hạnh được phục vụ quý khách</h1>
    </div>
    <div class="d-flex justify-content-center pt-4" style="color: red;">
        <h2>Tại đây chúng tôi có các mẫu bài đẹp và mới</h2>
    </div>
    
</section>